@{
    ViewData["Title"] = "Fin";
}
<main class="fondoFin">
    <h1>Felicitaciones @ViewBag.Usuario !!!</h1>
    <h2>Tu puntaje final es: @ViewBag.puntaje</h2>
    <button class="btn botonIndex"><a href='@Url.Action("ConfigurarJuego")'>Volver a Jugar</a></button>
</main>
