@{
    ViewData["Title"] = "Respuesta";
}

<main class = "@ViewBag.fondoRta respuesta">
@if(@ViewBag.EsCorrecta){

   
    <h1>CORRECTO!!!!!!! +10 PUNTOS!!</h1>
    <img src="~/img/rtaCorrecta.png">
}
else{

    <h1>INCORRECTO</h1>
    <h3>La respuesta correcta es: @ViewBag.respuestaCorrecta.Contenido</h3>
} 
<button class = "btn"><a href = '@Url.Action("Jugar")'>SIGUIENTE PREGUNTA!!</a></button>
</main>
