@{
    ViewData["Title"] = "Respuesta";
}
@if(@ViewBag.Respuesta){

    <h1>CORRECTO!!!!!!!</h1>

}
else{
    <h1>INCORRECTO</h1>
    <h3>Respuesta Correcta: @ViewBag.DatosRespuestas</h3>
} 
<button class = "btn"><a href = '@Url.Action("Jugar")'>SIGUIENTE PREGUNTA!!</a></button>