html {
  font-size: 14px;
  min-height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

/*footer {
  margin-top: 10px;
  padding: 10px;
  background-color: #f8f9fa;
  border-top: 1px solid #e9ecef;
}*/

.index, .config, .fondoArte, .fondoCiencia, .fondoDeporte, .fondoEntretenimiento, .fondoGeografia, .fondoHistoria, .fondoFin{
  min-height: 100vh;
  background-size: cover;
}
.index{
  background-image: url(../img/fondoIndex.png);
}
.config{
  background-image: url(../img/fondoConfig.png);
}
.fondoArte{
  background-image: url(../img/arte.png);
}
.fondoCiencia{
  background-image: url(../img/ciencia.jpg);
}
.fondoDeporte{
  background-image: url(../img/deportes.jpg);
}
.fondoEntretenimiento{
  background-image: url(../img/entretenimiento.jpg);
}
.fondoGeografia{
  background-image: url(../img/geo.jpg);
}
.fondoHistoria{
  background-image: url(../img/historia.jpg);
}
.fondoFin{
  background-image: url(../img/fondoVictoria.jpg);
}

html, body {
  height: 100%;
  margin: 0;
}


.index, .config {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.btn {
  margin-top: 4%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10%;
  height: 10%;
  font-size: 20px;
  background: #fff;
  border: none;
  border-radius: 50px;
  color: #000;
  outline: none;
  cursor: pointer;
  transition: all 0.4s;
}

.btn:hover {
  box-shadow: inset 0 0 0 4px #f32732, 
              inset 0 0 0 8px #ff9400, 
              inset 0 0 0 8px #f8dd41, 
              inset 0 0 0 12px #20c868,
              inset 0 0 0 16px #1675ce;
  background: #073b4c;
  color: #fff;
}

.btn a {
  text-decoration: none;
  color: #000;
}

.botonIndex {
  display: flex;
  justify-content: center;
  align-items: center;
}



/* From Uiverse.io by Praashoo7 */ 
.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: white;
  padding: 2.5em;
  border-radius: 100%;
  width:30%;
  transition: .4s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.4) 1px 2px 2px;
}

.form:hover {
  transform: translateX(-0.5em) translateY(-0.5em);
  border: 1px solid #171717;
  box-shadow: 10px 10px 0px #666666;
}

.heading {
  color: black;
  padding-bottom: 2em;
  text-align: center;
  font-weight: bold;
}

.input {
  border-radius: 5px;
  border: 1px solid whitesmoke;
  background-color: whitesmoke;
  outline: none;
  padding: 0.7em;
  transition: .4s ease-in-out;
}

.input:hover {
  box-shadow: 6px 6px 0px #969696,
             -3px -3px 10px #ffffff;
}

.input:focus {
  background: #ffffff;
  box-shadow: inset 2px 5px 10px rgba(0,0,0,0.3);
}

.form .btn {
  margin-top: 2em;
  align-self: center;
  padding: 0.7em;
  padding-left: 1em;
  padding-right: 1em;
  border-radius: 10px;
  border: none;
  color: black;
  transition: .4s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.4) 1px 1px 1px;
}

.form .btn:hover {
  box-shadow: 6px 6px 0px #969696,
             -3px -3px 10px #ffffff;
  transform: translateX(-0.5em) translateY(-0.5em);
}

.form .btn:active {
  transition: .2s;
  transform: translateX(0em) translateY(0em);
  box-shadow: none;
}





